html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-image: url("../assets/loginBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-weight: 1;
  color: #e5d9b6;
}

h2 {
  font-family: fantasy;
  font-weight: 1;
}

#login-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  background-color: #a4be7b;
  margin: 5%;
}

#login-button,
#create-account-button {
  text-align: center;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  margin-left: 15%;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}

input {
  padding: 10px;
  border-radius: 10px;
}
