.adminbox{
    /* width:380px; */
    border-style:solid;
    border-width:1px;
    margin:20px;
    padding:20px;
    display:flex;
    /* justify-content:center; */
    margin-left: auto;
    margin-right: auto;

    display:flex;
    flex-direction:column;

}

.adminbtn{
    /* display:flex;
    flex-direction:column;
    padding:10px;
    gap:5px; */
    
    display:flex;
    flex-direction:row;
    height:25px;
    gap:20px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;

}

.admininp{
    /* display:grid;
    grid-template-columns:1fr 1fr;
    gap:5px; */

    display:flex;
    flex-direction:row;
    height:40px;
    gap:150px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}