html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-image: url("../assets/loginBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-weight: 1;
  color: #179773;
}

h2 {
  font-family: fantasy;
  font-weight: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #a4be7bf7;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  font-family: fantasy;
  margin: 2em;
  color: #e5d9b6;
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.6em;
  border: none;
  outline: none;
  color: rgb(10, 9, 9);
  background-color: #eee2e2;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.799);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(14, 13, 13);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #060101;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  font-family: fantasy;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: #e5d9b6;
  color: black;
}
