body {
    margin: 0;
    padding: 0;
}
h1{
    font-family: fantasy;
    font-weight: 1;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    border-top: 5px black solid;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    margin-top: 10px;
    border-bottom: 5px black solid;
}

.header-ul {
    justify-content: space-between;
    list-style: none;
    display: flex;
}
nav li {
    margin: 0 1rem
}

footer {
    bottom: 0;
    text-align: center;
}
  
footer p {
    margin: 0;
}

.item-img{
    max-width: 300px;
}
section{
    display: grid;

}
p{
    margin: 5px 0px 0px 20px;
}


/* Container */
.container{
    display: grid;
    grid-template-columns: 3fr 4fr;
}


/* Image container */
.imgContainer{
    margin: 10px;
    order: 1;
    height: fit-content;
}
.share{
    background-color: #4CACBC;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}


/* Info container */
.infoContainer{
    margin: 10px 30px 0px 0px;  
    /* padding: 5px; */
    order: 2;
    height: min-content;
}
table{
    background-color: #a7bcb9;
    border-style: none;
    border-spacing: 30px 15px;
    text-align: left;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    table-layout: fixed;
}
#plantName{
    font-family: fantasy;
    font-size: 40px;
    /* color: #0b8457; */
}
#plantSpecies{
    font-family: 'Indie Flower', cursive;
    color: #686ee2;
    font-size: 22px;
}
.inStore{
    background-color: #FC7300;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
.cart{
    background-color: #BFDB38;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}


/* Factors section */
.water{
    margin: 10px;
    width: 80%;
    box-shadow: 2px 5px 5px darkgrey;
    border-radius: 10px;
    border: solid 1px darkgrey;
    padding: 10px;
}
.sun{
    margin: 10px;
    width: 80%;
    box-shadow: 2px 5px 5px darkgrey;
    border-radius: 10px;
    border: solid 1px darkgrey;
    padding: 10px;
}
.pruning{
    margin: 10px;
    width: 80%;
    box-shadow: 2px 5px 5px darkgrey;
    border-radius: 10px;
    border: solid 1px darkgrey;
    padding: 10px;
}
h3{
    font-size: large;
    font-weight: bold;
}