body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: fantasy;
    font-weight: 1;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

header {
    border-top: 5px black solid;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    margin-top: 10px;
}

.header-ul {
    justify-content: space-between;
    list-style: none;
    display: flex;
}
nav li {
    margin: 0 1rem
}

footer {
    border-top: 5px black solid;
    bottom: 0;
    text-align: center;
}
  
footer p {
    margin: 0;
}
main{
    background-color: rgb(243 244 246);
}
.item-img{
    max-width: 300px;
}
p{
    margin: 20px;
}
.flex-center{
    display: flex;
    justify-content: center;
}

/* ------------------search-container--------------------- */
.search-container{
    display:flex;
    justify-content: center;
    max-width: 64rem;
    padding: 2.5rem 1.5rem
}
.searchbox-padding {
    padding: 10px 12px;   
    /* border-color: inherit;  */
    background-color: #f5f5f5;
}

.search-button {
   background-color: #c7d8c6;
   width: 2.5rem;
   height: 2.5rem;
   margin-left: 4px;
   cursor: pointer;
   background-image: url('../images/magnifying-glass.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   border-color: #f3f4f6;; 
}

input {
    width:100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 4px;
    background-color: #f5f5f5;
  }



ul {
    display: grid;
    grid-template-areas: '1 2 3 4';
    gap: 20px;
    padding:0 40px;
  }
  
  li {
    max-width: 250px;
    list-style: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .plant-text-style {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .scientific-name {
    margin-top: 5px;
    font-size: 1rem;
    font-style: italic;
  }

@media screen and (max-width: 1180px){
    ul {
        grid-template-areas: '1 2 3';
    }
}
@media screen and (max-width: 930px){
    ul {
        grid-template-areas: '1 2';
    }
}
@media screen and (max-width: 680px){
    ul {
        grid-template-areas: '1';
    }
}