<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gardenia</title>
    <link rel="stylesheet" href="../../static/css/storestyle.css" />
  </head>
  <body>
    <header>
      <h1>gardenia.</h1>
      <nav>
        <ul class="header-ul">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form class="search-container">
        <input class="searchbox-padding" placeholder=" Search For Plant Name " required="" type="text" name="search" >
        <button class="search-button"></button>      
      </form>
      
      <div class="grid-container">
        <div id="item1">
          <div>
            <div class="background-image" style=" background-image:url('https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg');"></div>
            <div class="plant-description">
              <div class="plant-text-padding">
                  <div>
                      <div class="plant-text-style">European Silver Fir</div>
                      <div class="scientific-name">Abies alba</div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="item2">
          <div>
            <div class="background-image" style=" background-image:url('https://perenual.com/storage/species_image/2_abies_alba_pyramidalis/medium/49255769768_df55596553_b.jpg');"></div>
            <div class="plant-description">
              <div class="plant-text-padding">
                  <div>
                      <div class="plant-text-style">Pyramidalis Silver Fir</div>
                      <div class="scientific-name">Abies alba 'Pyramidalis'</div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="item3">
          <div>
            <div class="background-image" style=" background-image:url('https://perenual.com/storage/species_image/3_abies_concolor/medium/52292935430_f4f3b22614_b.jpg');"></div>
            <div class="plant-description">
              <div class="plant-text-padding">
                  <div>
                      <div class="plant-text-style">White Fir</div>
                      <div class="scientific-name">Abies concolor</div>
                  </div>
              </div>
            </div>
          </div>
        </div>


        <div id="item4">
          <div>
            <div class="background-image" style=" background-image:url('https://perenual.com/storage/species_image/4_abies_concolor_candicans/medium/49283844888_332c9e46f2_b.jpg');"></div>
            <div class="plant-description">
              <div class="plant-text-padding">
                  <div>
                      <div class="plant-text-style">Candicans White Fir</div>
                      <div class="scientific-name">Abies concolor 'Candicans'</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer>
      <p>Some footer info</p>
    </footer>
  </body>
</html>
