<!DOCTYPE html>
<html>
<head>
  <title>Example Table using DataTables</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstorestyle.css') }}">
  <script src="../static/js/adminstore.js" defer></script>
</head>
<body>
<div class="adminbox">
	<div class="admininp">
		<input class="nameinp" placeholder=" Name* ">
		<input class="snameinp" placeholder=" Scientific Name* ">
		<input class="priceinp" placeholder=" Price ">
		<input class="quantityinp" placeholder=" Quantity ">
	</div>
	<div class="adminbtn">
		<button class="addbtn">Add</button>
		<button class="delbtn">Delete</button>
		<button class="updatebtn">Update</button>
	</div>
</div>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Scientific Name</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <!-- Table data will be dynamically populated here -->
	<!-- Scientific Name, Name, Price, Quantity as forms/inputs -->
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="../static/js/admin.js" defer></script>


</body>
</html>