<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Gardenia</title>
          <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/storestyle.css') }}"
        />
        <script src="../static/js/storePlant.js" defer></script>
        </head>
<body>
    <header>
        <a href="/"><h1>gardenia.</h1></a>
        <nav >
            <ul class="header-ul">
                <li><a href="/checkout.html"><img src="../static/images/shopping-cart.png" width="20px" height="20px" class="shopping_cart" alt="shopping_cart" id="store-plant-shopCart-img" /><span id="cart-quantity">0</span></a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="{% if current_user.is_authenticated %}/logout{% else %}/login{% endif %}" id="login">{% if current_user.is_authenticated %}Logout{% else %}Login{% endif %}</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Shopping Cart</h2>
        
    </section>

</body>
</html>