<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardenia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>gardenia.</h1>
        <nav >
            <ul class="header-ul">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <ul class="front-ul">
        <li><h2 class="front-title">idk some title</h2></li>
        <li></li><nav>
            <ul class="title-ul">
                <li><a href="#">Shop</a></li>
                <li><a href="#">Info</a></li>
            </ul>
        </nav></li>
    </ul>
    </main>

    <footer>
        <p>Some footer info</p>
        
    </footer>
</body>
</html>
