<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardenia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit"/>
    <script src="../static/js/logout.js" defer></script>
    <script src="../static/js/updateLocalStorage.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img width="50px" height="50px" src="../static/images/GardeniaLogo.png">
            <a href="/"><h1>Gardenia</h1></a>
        </div>
        
        <nav >
            <ul class="header-ul">
                <li class="curTab"><a href="">Home</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/store">Store</a></li>
                <!-- <li><a href="{% if current_user.is_authenticated %}logout{% else %}login{% endif %}" id="login">{% if current_user.is_authenticated %}Logout{% else %}Login{% endif %}</a></li> -->
            </ul>
        </nav>

        <!-- ignore -->
        <div></div>
        <div class="header-ul"><a href="{% if current_user.is_authenticated %}logout{% else %}login{% endif %}" id="login">{% if current_user.is_authenticated %}Logout{% else %}Login{% endif %}</a></div>
    </header>

    <main>
        <ul class="front-ul">
        <li><h2 class="front-title">Welcome to gardenia</h2></li>
        <li></li><nav>
            <!-- <ul class="title-ul">
                <li><a href="store">Store</a></li>
                <li><a href="info">Info</a></li>
            </ul> -->
        </nav></li>
    </ul>
    </main>

    <footer>
        <img width="50px" height="50px" src="../static/images/GardeniaLogo.png">
        <p>@2023 Gardenia- all rights reserved</p>
    </footer>
</body>
</html>
