<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gardenia</title>
  <link rel="stylesheet" href="../../static/css/storestyle.css" />
</head>

<body>
  <header>
    <h1>gardenia.</h1>
    <nav>
      <ul class="header-ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form class="search-container">
      <input class="searchbox-padding" placeholder=" Search For Plant Name " required="" type="text" name="search" />
      <button class="search-button"></button>
    </form>
    <section>
      <ul>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://perenual.com/storage/species_image/1_abies_alba/medium/1536px-Abies_alba_SkalitC3A9.jpg"
              alt="European Silver Fir" />
            <h2 class="plant-text-style">Tree title</h2>
            <h3 class="scientific-name">scientific-name</h3>
          </a>
        </li>
        
      </ul>
    </section>
  </main>

  <footer>
    <p>Some footer info</p>
  </footer>
</body>

</html>