<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}" />
    <title>Gardenia Login</title>
  </head>
  <body>
    <main>
      <div id="login-form-wrap">
        <h1>gardenia</h1>

        <h2>Login</h2>
        <form id="login-form">
          <p>
            <input
              type="email"
              id="username-input"
              placeholder="email"
              required
            />
          </p>
          <p>
            <input
              type="password"
              id="password-input"
              placeholder="password"
              required
            />
          </p>
          <p>
            <input type="submit" id="login-button" value="Login" />
          </p>
          <p>
            <input
              type="submit"
              id="create-account-button"
              value="Create Account"
            />
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
