<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gardenia</title>
    <link rel="stylesheet" href="css/storestyle.css" />
  </head>
  <body>
    <header>
      <h1>gardenia.</h1>
      <nav>
        <ul class="header-ul">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Lorem Ipsum</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex-center">
      <main>
        <img src="img/plant.jpg" class="item-img" alt="Internet Line" />
        <section>
          <h3>Plant title</h3>
          <p>10$</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <button class="btn">add to cart</button>
          <a href="">more info</a>
        </section>
      </main>
    </div>

    <footer>
      <img width="50px" height="50px" src="../static/images/GardeniaLogo.png">
      <p>Some footer info</p>
    </footer>
  </body>
</html>
