<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gardenia</title>
    <link rel="stylesheet" href="css/storestyle.css" />
  </head>
  <body>
    <header>
      <a href="/"><h1>gardenia.</h1></a>
      <nav >
          <ul class="header-ul">
              <li><a href="info">Info</a></li>
              <li><a href="store">Store/a></li>
                <li><a href="{% if current_user.is_authenticated %}logout{% else %}login{% endif %}" id="login">{% if current_user.is_authenticated %}Logout{% else %}Login{% endif %}</a></li>
          </ul>
      </nav>
  </header>
    <div class="flex-center">
      <main>
        <img src="img/plant.jpg" class="item-img" alt="Internet Line" />
        <section>
          <h3>Plant title</h3>
          <p>10$</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <button class="btn">add to cart</button>
          <a href="">more info</a>
        </section>
      </main>
    </div>

    <footer>
      <p>Some footer info</p>
    </footer>
  </body>
</html>
